.container{
    box-sizing: content-box;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
}
.card_one, .card_two, .card_three{
    width: auto;
    height: auto;
    padding: 15px;
    margin: 20px;
}
.card_one{
    background-color: lightblue;
    width: 8rem;
}
.card_two{
    background-color: lightgreen;
    width: 8rem;
}

.card_three{
    background-color: lightslategray;
    width: 8rem;
}
